
* {
  font-family: sans-serif;
}

.header-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px;
  position: fixed;
  transform: translate(-50%, 0);
  left: 50%;
  top: 0;
  width: 100%;
  background-color: rgb(33, 33, 33);
}

a {
  color: aquamarine;
  padding: 5px;
  background-color: rgba(173, 216, 230, 0.1);
  border-radius: 4px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding-top: 80px;
  background: black;
  color: lightgrey;
  max-width: 900px;
  margin: auto;
}

.alerts-container {
  margin: auto;
}